@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 border: none;
 outline: none;
 scroll-behavior: smooth;
 font-family: 'Poppins', Sans-Serif;
 
}

:root {
 --bg-color: #1f242d;
 --second-bg-color: #323946;
 --text-color: #fff;
 --main-color: orange;
}
html {
    overflow-x: hidden;
    font-size: 63.5%;
   }
   body {
    background: hsl(194, 24.5%, 89.6%);
    color: var(--text-color);
   }
   .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--bg-color);
    align-items: center;
    z-index: 100;
   }
   .logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
   }
   .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
   }
   .navbar a:hover,
   .navbar a.active {
    color: var(--main-color);
   }
   button {
    padding: 9px 20px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    margin-left: 20px;
   }
   button:hover {
    background-color: var(--main-color);
    color: var(--text-color);
   }
   section {
   min-height: 100vh;
   padding: 6rem 5% 2rem;
   justify-content: center;
   align-items: center;
   display: flex;
   background-image: url('/img/aboutus.jpeg');
   background-size: cover;
   background-position: center;
   }
   .container {
     width: 50%;
     background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 10px solid rgba(255,255,255,0.25);
border-radius: 5rem;
   }
   .container h1 {
     font-size: 8rem;
     font-weight: 700;
     
   }
   .container p {
     font-size: 4rem;
     font-weight: 400;
     color: var(--bg-color);
   }